# Usando o Pandas para capturar dados de tabelas

In [9]:
from selenium import webdriver
import pandas as pd
from io import StringIO
driver = webdriver.Chrome()

In [10]:
#driver.get('http://localhost:8000/#/exemplo/8')
driver.get('https://curso-web-scraping.pages.dev/#/exemplo/8')

In [11]:
sio = StringIO(initial_value=driver.page_source)

pd.read_html(io=sio)

[   Avatar         Nome completo      Profissão  \
 0     NaN      Marcela Oliveira     Engenheiro
 1     NaN        Fabiano Santos     Engenheiro
 2     NaN     Dalila Xavier Jr.        Diretor
 3     NaN          Elísio Silva  Desenvolvedor
 4     NaN            Caio Souza      Associado
 5     NaN   Heitor Pereira Neto      Arquiteto
 6     NaN        Márcia Martins         Agente
 7     NaN   Júlio César Pereira        Diretor
 8     NaN           Gael Moraes       Designer
 9     NaN  Maria Eduarda Macedo      Atentende

                              E-mail               Perfil              Estado
 0      marcela.oliveira@example.org    marcela_oliveira6        Minas Gerais
 1      fabiano_santos76@example.org     fabiano.santos65         Mato Grosso
 2       dalila.xavier92@example.net      dalila_xavier10            Amazonas
 3          elisio.silva@example.org         elisio_silva             Paraíba
 4            caio_souza@example.com           caio.souza        Minas Gerais
 5      heitor_pereira99@example.com     heitor_pereira26           Tocantins
 6        marcia.martins@example.net       marcia.martins   Rio Grande do Sul
 7  juliocesar_pereira13@example.com   juliocesar_pereira   Rio Grande do Sul
 8           gael.moraes@example.com        gael_moraes92  Mato Grosso do Sul
 9   mariaeduarda.macedo@example.org  mariaeduarda_macedo              Paraná  ]

In [12]:
pd.read_html(io=sio)[0]

,Avatar,Nome completo,Profissão,E-mail,Perfil,Estado
0,NaN,Marcela Oliveira,Engenheiro,marcela.oliveira@example.org,marcela_oliveira6,Minas Gerais
1,NaN,Fabiano Santos,Engenheiro,fabiano_santos76@example.org,fabiano.santos65,Mato Grosso
2,NaN,Dalila Xavier Jr.,Diretor,dalila.xavier92@example.net,dalila_xavier10,Amazonas
3,NaN,Elísio Silva,Desenvolvedor,elisio.silva@example.org,elisio_silva,Paraíba
4,NaN,Caio Souza,Associado,caio_souza@example.com,caio.souza,Minas Gerais
5,NaN,Heitor Pereira Neto,Arquiteto,heitor_pereira99@example.com,heitor_pereira26,Tocantins
6,NaN,Márcia Martins,Agente,marcia.martins@example.net,marcia.martins,Rio Grande do Sul
7,NaN,Júlio César Pereira,Diretor,juliocesar_pereira13@example.com,juliocesar_pereira,Rio Grande do Sul
8,NaN,Gael Moraes,Designer,gael.moraes@example.com,gael_moraes92,Mato Grosso do Sul
9,NaN,Maria Eduarda Macedo,Atentende,mariaeduarda.macedo@example.org,mariaeduarda_macedo,Paraná

In [13]:
pd.read_html(io=sio, attrs={'id': 'tabela-usuarios'})[0]

,Avatar,Nome completo,Profissão,E-mail,Perfil,Estado
0,NaN,Marcela Oliveira,Engenheiro,marcela.oliveira@example.org,marcela_oliveira6,Minas Gerais
1,NaN,Fabiano Santos,Engenheiro,fabiano_santos76@example.org,fabiano.santos65,Mato Grosso
2,NaN,Dalila Xavier Jr.,Diretor,dalila.xavier92@example.net,dalila_xavier10,Amazonas
3,NaN,Elísio Silva,Desenvolvedor,elisio.silva@example.org,elisio_silva,Paraíba
4,NaN,Caio Souza,Associado,caio_souza@example.com,caio.souza,Minas Gerais
5,NaN,Heitor Pereira Neto,Arquiteto,heitor_pereira99@example.com,heitor_pereira26,Tocantins
6,NaN,Márcia Martins,Agente,marcia.martins@example.net,marcia.martins,Rio Grande do Sul
7,NaN,Júlio César Pereira,Diretor,juliocesar_pereira13@example.com,juliocesar_pereira,Rio Grande do Sul
8,NaN,Gael Moraes,Designer,gael.moraes@example.com,gael_moraes92,Mato Grosso do Sul
9,NaN,Maria Eduarda Macedo,Atentende,mariaeduarda.macedo@example.org,mariaeduarda_macedo,Paraná